body {
    font-family: "MuseoModerno", sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: 2s all; 

}
html{
    scroll-behavior: smooth;
}
.hidden{
    display: none;
    transition: 2s all; 
    
}
.container-campeonato {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    transition: 2s all; 
    
}
#title-page-campeonatos{
    margin-top: 5%;
}
.container-campeonato h1{
    
    color: rgba(117, 221, 247, 0.993);
    font-size: 44px;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.grid-rounds {
    z-index: 1;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: #ffffffef;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 4px 4px 5px rgba(239, 239, 239, 0.108);
    display: grid; 
    transition: 2s all; 
}

.race-card {
    background-color: #98dfef5a;
    color: #393939;
    border-radius: 10px;
    padding: 1rem;
    border-right: 30px solid rgba(33, 207, 250, 0.671);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.108);
    transition: .2s all;
}

.race-card:hover{
    transform: scale(1.05);
}

.race-card img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.race-info {
    margin-top: 1rem;
}

.race-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.race-info p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
}

.sponsor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.sponsor img {
    max-width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
}

.card-date {
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-info {
    text-align: center;
    margin-top: 10px;
}

.card-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: navy;
}

.patrocinadores {
    width: 100%;
    margin: 0 auto;
}

.grid-patrocinadores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Responsive columns */
    grid-gap: 20px;
    padding: 20px;
    /* Dark background */
    color: white;
    align-items: center;
    justify-content: center;
}


.item2 {}

.logo2 {
    width: 100px;
    height: auto;
    margin: 10px auto;
    display: block;
}

/* Style for better visual separation between rows (Optional) */
.grid-row-break2 {
    margin-bottom: 30px;
}

.img-camp {}

.other-campeonatos {
    max-width: 95%;
    /* Set a maximum width for the container-campeonato */
    margin: 0 auto 5% auto;
    /* Center the container-campeonato */
    padding: 20px;
}

.grid-campeonatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    /* Create a responsive grid with a maximum of 5 columns */
    /* Add a gap between grid items */
}

.img-camp {
    display: flex;
    /* Make the figure a flex container-campeonato to center the image */
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
    transition: 1s all;
}
.img-camp:hover{
    transform: scale(1.01);
}

.img-camp img {
    width: 100%;
    /* Make the image take up the full width of the figure */
    height: auto;
    /* Maintain the aspect ratio of the image */
    border-radius: 10px;
    /* Add a border radius to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow to the image */
}
.title-compeonatos{
    border-top: dashed 2px white;
    padding-top: 3%;
}

.campeonato-options {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.visibily-campeonatos{
      margin: 20px auto;
    text-align: center;
  }

.visibily-campeonatos img{
    max-height: 50px;
    width: auto;
}
footer{
    margin-top: 30vh;

}
.link-page-mapa{
    padding: 5px;
    border-radius: 20px;
    margin: auto;
    margin: 90px 0;
}
/* Media query to adjust the grid template columns for smaller screens */
@media (max-width: 768px) {
   
    .grid-campeonatos {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

/* Media query to adjust the grid template columns for even smaller screens */
@media (max-width: 480px) {
    .grid-campeonatos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}



/* CSS */
.btn-campeonato {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid rgb(55, 188, 229);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #fff;
  font-weight: 600;
}

.btn-campeonato:after {
  content: "";
  background-color: #4f5e64;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-campeonato:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn-campeonato {
    padding: 13px 50px 13px;
  }
}