.footer {
    font-family: var(--fonte-principal);
    background: linear-gradient(180deg, var(--cor-de-fundo), var(--azul-escuro));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 70px 0 20px 0;
    top: 100px;
}

.footer-containers {
    color: var(--branco);
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer h2 {
    color: var(--azul-claro);
    font-size: 1.5em;
}

.footer-container {
    padding-left: 20px;
}

.footer-container h4 {
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container a {
    text-decoration: none;
    color: var(--branco);
}

.copy {
    color: var(--branco);
    font-size: 0.9em;
    margin: 50px 0 20px 0;
}

/* Responsividade */
@media screen and (max-width: 990px) {
    .footer-containers {
        font-size: 0.85em;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .footer-container {
        padding-left: 5px;
        margin: 10px 0;
    }
}
