.ranking-container{
    width: 80%;
    margin: 5% auto;
}
.ranking-container h1{
    font-weight: 600;
    text-align: center;
    padding-bottom: 1%;
}
.ranking-container ul {
    list-style-type: none;
    padding: 0;
}

.ranking-container li {
    background-color: #007bff24;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-left: #00eaff solid 5px;
}



.titulo-corrida {
    font-weight: 300;
    font-size: 22px;
}

.titulo-brasil {
    font-weight: bold;
    font-size: 30px;
}

.mapa_section {
    padding: 5%;
    color: var(--branco);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#map {
    height: 650px;
    max-width: 90%;
    margin: 5% auto;
    box-shadow: 0 0px 8px 6px var(--cinza-escuro);
    border-radius: 30px;
    border: 2px solid var(--azul-claro);
}


.container {
    background-color: #141414;
    max-width: 90%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Responsive columns */
    margin: 5% auto;
    border-radius: 20px;
    overflow-x: scroll;
}



.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    /* Responsive columns */
    grid-gap: 5px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.pos-col {
    text-align: center;
}

.title-table {
    padding-bottom: 20px;
}



.flag {
    height: 15px;
}

.best-lap {
    text-align: center;
}

.best-lap .fl {
    color: purple;
    font-weight: bold;
}



@media (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
        /* Stack columns vertically on smaller screens */
    }
}

@media (min-width: 768px) {
    ::-webkit-scrollbar-track {
        background-color: #696a6a;
    }

    ::-webkit-scrollbar {
        width: 2px;
        background: #615757;
    }

    ::-webkit-scrollbar-thumb {
        background: #2a2424;
    }
    .ranking-container{
        width: 60%;}
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.3s ease;
    width: 80%;
    margin: auto;
}

.titulo-form {
    color: #333;
}

#descricao {
    color: #555;
    margin: 10px 0;
    padding: 1%;
}

.valor {
    font-weight: bold;
    padding: 1%;

    color: #007bff;
}

.bnt-aposta {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bnt-aposta:hover {
    background-color: #218838;
}