body {
    background: linear-gradient(rgba(2, 56, 89, 0.65), #1B1D23), url('../assets/fundorazzoo.jpg') no-repeat center center / cover;
    padding: 20px 0;
    box-shadow: 0 20px 40px #1B1D23;
}

.tamanho{
    width: 60vw;
    margin: 0 auto;
}

.fundo{
    background-color: whitesmoke;
}

#primeiro{
    color: whitesmoke; /* Altere a cor aqui */
    font-weight: bold; /* Opcional */
    font-size: 30px;
    background-color: #FFDF00;
    border: whitesmoke;
    width: 10px;
}

#segundo{
    color: whitesmoke; /* Altere a cor aqui */
    font-weight: bold; /* Opcional */
    font-size: 30px;
    background-color: #C0C0C0;
    border: whitesmoke;
    width: 10px;
}

#terceiro{
    color: whitesmoke; /* Altere a cor aqui */
    font-weight: bold; /* Opcional */
    font-size: 30px;
    background-color: #cd7f32;
    border: whitesmoke;
    width: 10px;
}

.ranks{
    color: black;
    font-size: 30px;
    width: 10px;
}

.nome{
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

.pontuacao{
    width: 100px;
    justify-items: center;
    font-weight: bold;
}

.conatiner-buttons li a, .active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media (max-width: 968px) {

    .conatiner-buttons{
        display: flex;
        flex-flow: row wrap-reverse;
        
    }
    .conatiner-buttons li{
        border-radius: 5px;
        border: 1px solid rgba(4, 22, 80, 0.583);
    }
    /* .conatiner-buttons li {
        border-radius: 100px;
        border-top-left-radius: 100px;
        background-color:whitesmoke;
        
        
    }
   
    .fundo{
        background-color: transparent;
    }
    .conatiner-buttons li::after{
        border-radius: 100px;
        background-color:rgb(74, 205, 245);
    } */

    .tamanho{
        width: 90vw;
    }
    
}

@media (min-width: 1068px) {
    .conatiner-buttons{
        gap: 2px;
    }
}