.container__carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
    width: 100%;
}

.slider {
    margin: 0 auto;
    width: 90%;
    height: auto;
    overflow: hidden;
}

.slides {
    width: 1200%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: 300px;
    transition: 2s;
    display: flex;

}

.slide img {
    width: 30%;
}

.manual-navigation{
    position: absolute;
    width: 90%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--branco);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--branco);
}

#radio1:checked ~ .primeiro {
    margin-left: 0;
}

#radio2:checked ~ .primeiro {
    margin-left: -33%;
}

#radio3:checked ~ .primeiro {
    margin-left: -66%;
}

#radio4:checked ~ .primeiro {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid var(--azul-claro);
    padding: 5px;
    border-radius: 10px ;
    cursor: pointer;
    transition: 1s;
}

.navigation {
    position: absolute;
    width: 90%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--branco);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--branco);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--branco);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--branco);
}



/* @media (max-width: 48em) {
    .slider{
        margin-top: 70%;
    }
.slides {
    height: 300px;
}
.slider {
    height: 300px;}
} */
/* .carrossel__titulo {
    color: var(--cor-de-fundo);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}


@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
    display: block;
    top: 60%;
    }

}

@media screen and (min-width: 1024px) {

    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;

    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

} */

  /* Slider */

  .slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

body{
  background-color: #1B1D23 !important;
}