#drivers_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-top: 10%;
    color: black;
}

.title_drivers {
    font-size: medium;
}

.title_drivers h1,  .title_drivers h3{
    color: rgba(255, 255, 255, 0.87);
    font-size: xx-large;
}

.driver_article {
    background-color: rgba(255, 255, 255, 0.957);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 1%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 20px;
}


.description_driver {
    text-align: center;
    font-weight: 100;
    letter-spacing: 1.5px;
    font-size: small;
    padding:2%;
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
   
}
.description_driver h1{
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    padding: 1%;

}
.img_driver {
    width: 25%;
    border-radius: 99999px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgb(126, 207, 227);
    padding-right:3%;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.657));
    margin: -5px;
}


@media (min-width: 600px) {
    #drivers_section {

        width: 100%;
    }
    .title_drivers{
        font-size:x-large;
     }
     .description_driver {
     text-align: left;
        font-size: medium;
    }
    .driver_article {
       
        border-top-left-radius: 200px;
        border-bottom-left-radius: 50px;
    }
    .img_driver{
        width: 25%;
       
        padding-right:5%;
        filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.657));
    }
}